@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form-input {
    @apply w-full rounded border bg-transparent py-1 pl-8 pr-2 text-sm outline-none focus:border-blue-500 dark:border-zinc-600;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
